/* header */
section.header {
  border-bottom: grey solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.header > .title {
  padding-left: 15px;
}

div#link-box {
  text-align: right;
}
div#link-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
div#link-box li {
  display: inline;
  vertical-align: middle;
}
div#link-box li.spacer {
  padding-left: 5px;
  padding-right: 5px;
}

/* sidebar stuff */
div#sidebar {
  text-align: right;
  line-height: 15px;
}
div#sidebar h5 {
  margin-bottom: 2px;
}
div#sidebar h5:not(:first-child) {
  margin-top: 4px;
}
div#sidebar span {
  padding: 2px;
}

/* link styling */
a {
  color: #000000;
}
a:hover {
  color: #787878;
}
