---
layout: default
title: joe wilner
techs:
- java
- python
- spring
- bash
- linux
- aws
- docker
- mongodb
- redis
- mysql
- rabbitmq
books:
- effective java
- "js: the good parts"
- the go programming language
- structure and interpretation of computer programs
- unix / linux system admin handbook
---
<div class='row'>
  <div class='column two-thirds'>
    <p>I'm a software engineer in Brooklyn, New York.</p>
    <p>Currently, I work at <a href="https://www.energyhub.com">EnergyHub</a>, where we connect utilities to smart-home devices to control load on the grid.</p>
    <p>My day-to-day work is mainly writing backend Java (Spring) microservices; I also spend a lot of time in our Python codebase and working with the AWS API.</p>
    <p>In my personal projects, I dabble in everything from clojurescript to golang. I also read a lot of programming books.</p>
  </div>
  <div class='column one-third' id='sidebar'>
    <h5>tech I use</h5>
    {% for tech in page.techs %}
    <span>{{ tech }}</span>
    {% if forloop.last == false %}&middot;{% endif %}
    {% endfor %}
    <h5>books I think about</h5>
    {% for book in page.books %}
    <span>{{ book }}</span>
    {% if forloop.last == false %}&middot;{% endif %}
    {% endfor %}
  </div>
</div>
