---
links:
  - value: linkedin
    target: https://www.linkedin.com/in/joewilner/
  - value: github
    target: https://github.com/jwilner
  - value: stack overflow
    target: http://stackoverflow.com/users/1567452/jwilner
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Joe Wilner" />
    <!-- CSS -->
    <link rel="stylesheet" href="/vendors/Skeleton/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/vendors/Skeleton/css/skeleton.css" type="text/css" />
    <!-- custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <section class="header row">
          <div class='column one-third'>
            <h2 class="title">
              joe wilner
            </h2>
          </div>
          <div id='link-box' class='column two-thirds'>
            <ul>
              {% for link in layout.links %}
              <li>
                <a target="_blank" href="{{ link.target }}">{{ link.value }}</a>
              </li>
              {% if forloop.last == false %}
              <li class='spacer'>&middot;</li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
      </section>
      {{ content }}
    </div>
  </body>
</html>
